@use "@/styles/variables" as *;
@use "sass:color";

.not-found {
  text-align: center;
  padding: 100px 20px;
  color: $text-color-light;

  h1 {
    font-size: 100px;
    color: $accent;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .btn {
    padding: 12px 24px;
    background-color: $accent;
    color: $white;
    border: none;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: color.adjust($accent, $lightness: -10%);
    }
  }

  .dark & {
    color: $text-color-dark;
  }
}
