.btn-outline {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--accent);
    background-color: var(--white);
    color: var(--accent);
    transition: all 0.3s ease-in-out;
  }
  
  .btn-icon {
    font-size: 20px;
  }
  
  .btn-outline:hover {
    background-color: var(--accent);
    color: var(--white);
  }
  
  .project-details__buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  